.about {
  /* margin: var(--spacing-xl); */
  margin: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  /* display: flex; */
  margin-top: var(--spacing-md);
}

.about-me {
  /* width: 45%; */
  padding: var(--spacing-lg);
  text-align: justify;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.profile-titles {
  margin-top: var(--spacing-md);
}

.profile-photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: var(--spacing-lg);
  margin-right: var(--spacing-lg);
}

.about-skills {
  /* width: 55%; */
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto;
  justify-content: center;
}

.logo {
  margin: var(--spacing-md);
}

@media only screen and (min-width: 768px) {
  .about {
    display: block;
    margin: var(--spacing-md);
  }
  .about-content {
    display: flex;
  }

  .about-me {
    width: 45%;
  }

  .about-skills {
    width: 55%;
    padding: var(--spacing-xl);
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    margin: var(--spacing-xl);
  }
  .profile {
    flex-direction: row;
  }

  .about-skills {
    padding: var(--spacing-md);
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: auto;
    justify-content: center;
  }
}
