.about {
  padding-top: var(--spacing-xl);
  text-align: center;
}

.title-logo {
  visibility: hidden;
}

.about-content {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  text-align: justify;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding-bottom: var(--spacing-lg);
}

.profile-photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: var(--spacing-lg);
}

.about-skills {
  padding-top: var(--spacing-lg);
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto;
  justify-content: center;
}

.logo {
  margin: var(--spacing-md);
}

@media only screen and (min-width: 768px) {
  .about-skills {
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: auto;
  }

  .about-content {
    padding-top: var(--spacing-xl);
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    display: flex;
  }

  .title-logo {
    visibility: visible;
  }
  .about {
    margin-top: var(--spacing-md);
    text-align: left;
  }
  .about-content {
    display: flex;
    padding-top: var(--spacing-lg);
  }

  .about-me {
    padding-top: var(--spacing-lg);
    padding-right: var(--spacing-xl);
    width: 50%;
  }
  .profile {
    flex-direction: row;
    padding-bottom: var(--spacing-sm);
  }

  .profile-photo {
    margin-right: var(--spacing-md);
  }

  .profile {
    margin-bottom: var(--spacing-xs);
  }

  .about-skills {
    padding-left: var(--spacing-xl);
  }
}
