.btn-secondary {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  background-color: var(--light-green);
  border: none;
  border-radius: 8px;
  font-family: inter-bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--dark-green);
}

.btn-tertiary {
  width: 120px;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  background-color: var(--dark-green);
  border: none;
  border-radius: 8px;
  font-family: inter-bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--white);
}

.btn-tertiary:hover {
  background-color: var(--charcoal);
}
