.btn-secondary {
  margin-top: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  background-color: var(--light-green);
  border: none;
  border-radius: 8px;
  font-family: nunito-bold;
  font-size: 14px;
  cursor: pointer;
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--dark-green);
}
