.cog-1 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.cog-2 {
  position: absolute;
  right: 55px;
  bottom: 125px;
  z-index: 10;
}

.cog-3 {
  position: absolute;
  right: 130px;
  bottom: 70px;
  z-index: 10;
}

.rotate {
  animation: rotation 25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reverse {
  animation: rotation 28s infinite linear;
}

@keyframes reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .cog-1 {
    position: absolute;
    right: 70px;
    bottom: 40px;
  }

  .cog-2 {
    position: absolute;
    right: 165px;
    bottom: 105px;
  }

  .cog-3 {
    position: absolute;
    right: 185px;
    bottom: 35px;
  }
}
