.contact {
  margin-top: var(--spacing-md);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  text-align: justify;
}

.contact-details {
  padding-top: var(--spacing-xl);
}
.contact-btns {
  padding-top: var(--spacing-lg);
}
.contact-btn-container {
  padding-bottom: var(--spacing-md);
}

.contact-btn-icon {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-md);
}

.contact-btn-icon img {
  margin-right: var(--spacing-sm);
}

@media only screen and (min-width: 768px) {
  .contact-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .contact-container {
    display: flex;
  }
  .contact-details {
    width: 45%;
  }
  .contact-btns {
    width: 55%;
  }

  .contact-btn-container {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
    margin-right: var(--spacing-xl);
  }
}
