.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
  background-color: var(--dark-green);
}

.socials {
  display: flex;
}

.social-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: var(--light-green); */
  margin-right: var(--spacing-md);
}

.social-circle:hover {
  background-color: var(--white);
}

.icon {
  color: var(--white);
  fill: currentColor;
}

.icon:hover {
  color: var(--dark-green);
}

.nav,
ul {
  list-style-type: none;
  display: flex;
}

.nav li {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  font-family: cabin;
  font-size: 20px;
  color: var(--dark-grey);
  cursor: pointer;
  letter-spacing: 1px;
}
