.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
  background-color: var(--dark-green);
}

.socials {
  display: flex;
}

.social-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: var(--spacing-md);
}

.icon {
  color: var(--white);
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .social-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: var(--spacing-md);
  }

  .social-circle:hover {
    background-color: var(--white);
  }

  .icon:hover {
    color: var(--dark-green);
  }
}
