:root {
  /* colours */
  --dark-green: #5eb998;
  --light-green: #88ddbf;
  --white: #ffffff;
  --charcoal: #444b55;

  /* typography */
  --heading-alpha: 44px;
  --heading-bravo: 22px;
  --heading-charlie: 30px;
  --heading-delta: 18px;
  --standard: 16px;

  /* spacing */
  --spacing-xl: 40px;
  --spacing-lg: 30px;
  --spacing-md: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 5px;
  --font-spacing: 12px;
}

body {
  background-color: #fbfeff;
}

@media only screen and (min-width: 768px) {
  :root {
    --heading-alpha: 84px;
    --heading-bravo: 32px;
  }
}
