@font-face {
  font-family: inter;
  src: url(../public/assets/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: inter-bold;
  src: url(../public/assets/fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: inter-semi;
  src: url(../public/assets/fonts/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: inter-light;
  src: url(../public/assets/fonts/Inter-Light.ttf) format('truetype');
}

.heading--alpha {
  font-family: inter-semi, sans-serif;
  font-size: var(--heading-alpha);
  color: var(--white);
  margin: 0px;
}

.heading--bravo {
  font-family: inter-semi, sans-serif;
  font-size: var(--heading-bravo);
  color: var(--white);
  line-height: 1.5;
  margin: 0px;
}

.heading--charlie {
  font-family: inter-semi, sans-serif;
  font-size: var(--heading-charlie);
  color: var(--charcoal);
  line-height: 1.5;
  margin: 0px;
  font-weight: 600;
  text-align: center;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.heading--delta {
  font-family: inter-bold, sans-serif;
  font-size: var(--heading-delta);
  color: var(--charcoal);
  line-height: 1.5;
  margin: 0px;
  font-weight: 400;
}

p {
  font-family: inter, sans-serif;
  font-size: var(--heading-standard);
  color: var(--charcoal);
  line-height: 1.6;
  margin: 0px;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  .heading--charlie {
    width: 275px;
    margin-left: var(--spacing-md);
    text-align: left;
  }
}
